<mat-card>
    <mat-card-header>
        <mat-card-title><h3>{{content.title}}</h3></mat-card-title>
        <mat-card-subtitle><h5>{{content.date}}</h5></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="content.imageUrl" [alt]="content.title">
    <mat-card-content>
        <p>{{content.summary}}</p>
    </mat-card-content>
    <mat-card-actions>
        <a [routerLink]="['articles' , content.id]"mat-button>More</a>
    </mat-card-actions>
</mat-card>
<span>&nbsp;</span>